################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OData_Deneme
/ODataCore3/bin/Debug/netcoreapp3.1
/ODataCore3/obj
